
header {
    height: 200px;
    border-top: 1px solid #d5d5d5;
    padding-top:10px;
    margin-bottom:10px;
    position: relative;
}

header h1, header h4 {
  position: relative;
  top: 18px;
  left: 10px;
}
header h1{
	font-size: 30px;
}

header h4 {
	font-size: 20px;
}

.photo {
    float: left;
    margin-right: 15px;
}

body {
    margin: 60px auto;
    width: 70%;
    min-width:1000px; 
	font-family: 'Lato', sans-serif;
}