header {
    height: 200px;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    padding-top:10px;
    padding-bottom:80px;
    position: relative;
}
header h1, header h4, header h5 {
  position: relative;
  left: 10px;
}
header h1{
	font-size: 30px;
	top: 15px;
}
header h4 {
	padding-top: 1px;
	bottom: 0px;
	font-size: 20px;
    margin: 0px;
	margin-bottom: 4px;
	font-weight: normal;
}
header h4:first-of-type{
	padding-top: 15px;
}

.personalData{
	top: 1px;
	margin: 7px;
	padding-bottom: 12px;
	font-size: 17px;
	font-weight: normal;
}
.personalData:first-of-type{
	top: 18px;
}
.personalData i{
	padding-right: 4px;
}
.photo {
    float: left;
    margin-right: 15px;
	width: 100%;
	max-width: 270px;
	max-height: 270px;
}

body {
    margin: 60px auto;
    width: 940px;
	font-family: 'Lato', sans-serif;
}
main p {
	font-size: 16px;
	margin-top: 9px;
	margin-bottom: 9px;
}
main h3 * {
	font-weight: normal;
}


footer {
	margin-top: 60px;
    border-top: 1px solid #d5d5d5;
}
footer ul{
    list-style: none;
	border: 0px;
	padding: 0px;
}
footer li {
	display:inline;
	margin-right: 7px;
}